*, *:before, *:after {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body,html {
    min-height:100%;
}

body{
    background:#fff;

}

body,
html {
    height: 100%;
}

/* The hero image */
.hero-image {
    /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/sample4.jpg");

    /* Set a specific height */
    height: 50%;

    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/* Place text in the middle of the image */
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 45px;
    font-family: 'Poppins', sans-serif;
}

.hero-text p {
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

/* header {
    background-color: #0066cc;
    color: white;
    text-align: center;
    padding: 20px;

} */

/* for links to appear black */
a, a:hover, a:focus, a:active, a:visited, a:link {
    text-decoration: none;
     color: #000;
  }

}


/*steps*/

.box
{
    margin: 2vw;
    padding: 2vw;
    display: flex;
    flex-direction: column;
    justify-content:right;
}

.box .step
{
    display: flex;
    flex-direction: row;
    margin: 2vw;
}

.box .step >img
{
    width: 20vw;
}

.box .step .step1,.step2,.step3
{
    margin: 10vh; 
}



.step1>p,.step2>p,.step3>p
{
    font-size:3vh;
}

.floating {  
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
}

@keyframes floating {
    from { transform: translate(0,  0px); }
    65%  { transform: translate(0, 15px); }
    to   { transform: translate(0, -0px); }    
}

