*, *:before, *:after {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body,html {
    min-height:100%;
}

body{
    background:#fff;
}

.leaderboard {
  max-width: 600px;
  margin: 0 auto 2rem;
  padding: 20px;
  border: 1px solid #ddd;
  margin-top: 1rem !important;
}

.leaderboard-heading {
    text-align: center;
    text-transform: uppercase;
    margin:30px;
    padding:0;
    color: #cc7713;
    margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

.heading td {
  background-color: #686868 !important;
}

th, td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
}

td:first-child {
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}